/*==================================================

    Template Name: Basic HTML
    Description: Basic is a super simple blogging theme
    Author: Daniel Post
    Author Site: http://www.dahndesigns.net
    Version: 1.0
    Designed and developed by Daniel Post

==================================================*/

/* --------------------------------------------------------------
CSS Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------------------------------------------------
Basic Styles
-------------------------------------------------------------- */
html {
	overflow-y: scroll;
}

body {
	font: 16px/28px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	background: #efede7;
	color: #6a6359;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
}

img {
	max-width: 100%;
	height: auto;
}

img.float_left {
	margin: 10px 40px 30px 0;
}

img.float_right {
	margin: 4px 0 48px 40px;
}

li {
	list-style: none inside;
}

a, a:visited, a:hover {
	color: #666;
	text-decoration: none;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

a:hover {
	color: #444;
}

a:visited {
	color: #e44;
}

hr {
	width: 50%;
	height: 5px;
	display: block;
	background: #eee;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

input, textarea {
	border: none;
	outline: none;
	margin: 0;
	padding: 13px 15px 12px 15px;
	background: #e5e5e5;
	color: #999;
	font: 14px/14px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

input:focus, textarea:focus {
	background: #f2f2f2;
}

/* --------------------------------------------------------------
Grid
-------------------------------------------------------------- */
.column, .columns {
	float: left;
	display: inline-block;
	padding: 0 30px;
	margin-bottom: 30px;
	margin: 0 auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.eight.columns {
	width: 100%;
}

.seven.columns {
	width: 87.5%;
}

.six.columns {
	width: 75%;
}

.five.columns {
	width: 62.5%;
}

.four.columns {
	width: 50%;
}

.three.columns {
	width: 37.5%;
}

.two.columns {
	width: 25%;
}

.one.column {
	width: 12.5%;
}

.one-third.column {
	width: 33.33%;
}

.two-thirds.column {
	width: 66.66%;
}

@media only screen and (max-width: 479px) {
	.eight.columns,
	.seven.columns,
	.six.columns,
	.five.columns,
	.four.columns,
	.three.columns,
	.two.columns,
	.one.column,
	.one-third.column,
	.two-thirds.column {
		width: 100%;
		margin-bottom: 20px;
	}
}

/* Clearing */
/* Self Clearing Goodness */
.slate:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

.row:after,
.clearfix:after {
	clear: both;
}

.row,
.clearfix {
	zoom: 1;
}

/* You can also use a <br class="clear" /> to clear columns */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* --------------------------------------------------------------
Helper Classes
-------------------------------------------------------------- */
.float_left {
	float: left;
}

.float_right {
	float: right;
}

/* --------------------------------------------------------------
Typography
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	color: #000;
	position: relative;
	margin-bottom: 14px;
	line-height: 1;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 12px;
	margin-bottom: 15px
}

p {
	margin-bottom: 22px;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

.small {
	font-size: 80%;
}

.center {
	text-align: center;
}

.highlight {
	background: #ff6644;
	padding: 0 5px;
	color: #fff;
}

/* --------------------------------------------------------------
Buttons
-------------------------------------------------------------- */
button {
	display: inline-block;
	border: 0;
	outline: 0;
	margin: 0;
	padding: 15px;
	height: 44px;
	background: #ff6644;
	color: #fff;
	font: 14px/14px 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

button:hover {
	background: #c93c1d;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

button:active {
	background: #ae3318;
}

button.light {
	background: #fff;
	color: #555759;
}

button.light:hover {
	background: #ff6644;
	color: #fff;
}

/* --------------------------------------------------------------
Header
-------------------------------------------------------------- */
header {
	width: auto;
	max-width: 860px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 60px;
	padding: 0 80px;
	position: relative;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

header .logo {
	color: #aaa28c;
	float: left;
}

header nav {
	float: right;
	margin-top: 3px;
}

header nav ul li {
	display: inline-block;
	margin-left: 20px;
}

header nav ul li a, header nav ul li a:visited, header nav ul li.search {
	font-size: 14px;
	font-weight: bold;
	color: #aaa28c;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	top: -5px;
}

header nav ul li a:hover, header nav ul li.search:hover {
	color: #fff;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
	border: 0;
}

header .menubutton {
	display: none;
	float: right;
	color: #aaa28c;
	cursor: pointer;
	font-size: 24px;
	line-height: 24px;
}

/* Search */
header .search_popup {
	display: none;
	position: absolute;
	top: 40px;
	right: 80px;
	padding: 15px;
	background: #fff;
	z-index: 1000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2), inset 0 -1px 3px #f6f4ee;
}

header .search_popup input {
	height: 46px;
}

header .search_popup button {
	height: 46px;
	position: relative;
	top: -1px;
}

header nav ul li.search .icon-search.active {
	display: none;
}

header nav ul li.search .icon-remove {
	display: none;
}

header nav ul li.search .icon-remove.active {
	display: inline-block;
}


/* --------------------------------------------------------------
Posts
-------------------------------------------------------------- */
section {
	display: block;
	position: relative;
	background: #fff;
	padding: 80px 50px;
	width: auto;
	max-width: 860px;
	margin: 0 auto;
	margin-bottom: 100px;
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2), inset 0 -1px 3px #f6f4ee;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.post_image {
	max-width: 860px;
	margin: 0 auto;
	margin-bottom: -3px;
	position: relative;
	z-index: 2;
	display: block;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.post_image {
	margin-bottom: -10px;
}

section .post_date {
	position: absolute;
	top: 80px;
	right: 80px;

	text-align: right;
	font-weight: bold;
	font-size: 16px;
	color: #d7d7d7;
	text-transform: uppercase;
	-webkit-transition: color .25s ease-in-out;
	-moz-transition: color .25s ease-in-out;
	-o-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

section .post_date:hover {
	color: #ff6644;
}

section .post_title {
	margin-bottom: 30px;
	max-width: 80%;
}

section .post_intro {
	color: #999;
	font-size: 20px;
	letter-spacing: 1px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}

section button {
	margin: 0;
}


/* Post Types */
section.quote {
	background: #f6f4ee;
	padding: 80px 80px 30px 200px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

section.quote p {
	font-size: 24px;
	line-height: 48px;
	text-align: right;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

section.quote .author {
	display: block;
	font-size: 16px;
	text-transform: uppercase;
	color: #bbb;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

section.quote:hover {
	background: #ff6644;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2), inset 0 -1px 3px #d83e1c;
}

section.quote:hover p {
	color: #fff;
}

section.quote:hover .author {
	color: #c93c1d;
}

/* title + devices */
.post_title_list {
	margin-bottom: 18px;
}

.post_title_list .post_title {
	/* replace .post_title margin and push up a bit for vertical centering */
	margin-bottom: 0px;
	padding-bottom: 8px;
}

.post_title_list li {
	display: inline-block;
	vertical-align: middle;
}

.post_title_list li + li {
	margin-left: 20px;
}

/* Blockquotes */
blockquote {
	width: 100%;
	padding: 0 0 0 30px;
	margin: 10px 0 30px 0;
	border-left: 10px solid #ff6644;
	font-size: 18px;
	color: #838689;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}


/* --------------------------------------------------------------
Metadata
-------------------------------------------------------------- */
.metadata {
	padding: 20px 0;
}

.metadata span {
	display: block;
	color: #888;
}

.metadata i {
	margin-right: 20px;
}

/* --------------------------------------------------------------
Comments
-------------------------------------------------------------- */
.comments h5 {
	margin: 60px 0 30px 0;
}

.comment h5 {
	color: #555759;
	margin: 20px 0 0 0;
}

.comment .comment-date {
	font-size: 14px;
	margin-bottom: 20px;
	color: #777;
}

.comment p {
	margin-left: 70px;
	margin-bottom: 40px;
}

.reply {
	margin-left: 70px;
}

.comment-form h6 {
	text-transform: uppercase;
	color: #aaa;
}

.comment-form input {
	width: 100%;
	margin-bottom: 40px;
}

.comment-form textarea {
	width: 100%;
	min-height: 140px;
	margin-bottom: 40px;
}

.comment-form button {
	float: right;
}

/* --------------------------------------------------------------
Pagination
-------------------------------------------------------------- */
.pagination {
	width: 100%;
	text-align: center;
}

.pagination button {
	margin-bottom: 5px;
}

/* --------------------------------------------------------------
Archive
-------------------------------------------------------------- */
.archives {
	padding-top: 160px;
	padding-left: 5px;
}

.archives ul {
	margin-bottom: 50px;
}

.archives ul li {
	padding: 0 0 5px 0;
}

/* Styled H5 and UL (border and circles) */
.archives .styled {
	display: block;
	background: url('../img/circle.png') no-repeat left;
	padding-left: 50px;
	line-height: 30px;
}

.archives .styled_ul {
	margin: -20px 0 -5px 10px;
	padding: 20px 0 50px 30px;
	border-left: 10px solid #eee;
}

.archives .styled_ul_last {
	margin: -20px 0 50px 10px;
	padding: 20px 0 0 30px;
	border-left: 10px solid #eee;
}

/* --------------------------------------------------------------
Support
-------------------------------------------------------------- */
.faq a, .faq p, .faq h5 {
	color: #999;
}

.faq a:hover {
	color: #777;
}

.faq .questions {
	margin-bottom: 40px;
}

.faq .questions li {
	list-style-type: disc;
}

.faq .answers .answer {
	padding-bottom: 18px;
}

.faq .answers h5 {
	margin-bottom: 6px;
}

.faq .answers p {
	margin-bottom: 10px;
}

.faq .answers a {
	color: #666;
}

.faq .answers a:hover {
	color: #444;
}


/* --------------------------------------------------------------
Legal
-------------------------------------------------------------- */
.legal ol, .legal ul {
	margin-left: 20px;
}

.legal li {
	list-style: circle;
	margin-bottom: 8px;
}

.legal ul + p,
.legal ol + p,
.legal p + h3,
.legal ul + h3,
.legal ol + h3 {
	margin-top: 22px;
}

.legal li ol, .legal li ul {
	margin-top: 8px;
}

.legal h3 {
	color: #999;
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 12px;
}


/* --------------------------------------------------------------
Contact form
-------------------------------------------------------------- */
.contact h6 {
	text-transform: uppercase;
	color: #aaa;
}

.contact input {
	width: 100%;
	margin-bottom: 40px;
}

.contact textarea {
	width: 100%;
	min-height: 140px;
	margin-bottom: 40px;
}

.contact button {
	float: right;
}

.message {
	text-transform: uppercase;
	color: #bbb;
	letter-spacing: 1px;
	font-weight: bold;
}

label.error {
	display: block;
	font-size: 12px;
	font-weight: bold;
	color: #f36b6b;
	text-transform: uppercase;
	margin-top: -30px;
	margin-bottom: 30px;
}

/* --------------------------------------------------------------
Footer
-------------------------------------------------------------- */
footer {
	max-width: 780px;
	margin: 0 auto;
	margin-top: 70px;
	margin-bottom: 100px;
	position: relative;
}

footer h4, footer h5, footer h6 {
	color: #aaa28c;
}

/* Social buttons */
button.facebook, button.twitter, button.linkedin, button.google_plus, button.pinterest {
	height: 40px;
	width: 40px;
	padding: 13px;
	margin-bottom: 5px;
}

button.facebook {
	background: #3b5998;
}

button.facebook:hover {
	background: #2d4577;
}

button.twitter {
	background: #33ccff;
}

button.twitter:hover {
	background: #19abdc;
}

button.linkedin {
	background: #4875b4;
}

button.linkedin:hover {
	background: #204c8b;
}

button.google_plus {
	background: #444;
}

button.google_plus:hover {
	background: #373737;
}

button.pinterest {
	background: #d01c2c;
}

button.pinterest:hover {
	background: #970b18;
}

/* --------------------------------------------------------------
Twitter
-------------------------------------------------------------- */
.tweet_list {
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.tweet_list li {
	overflow-y: auto;
	overflow-x: hidden;
	list-style-type: none;
	margin-bottom: 20px;
}

.tweet_list .tweet_avatar {
	padding-right: .5em;
	float: left;
}

.tweet_list .tweet_avatar img {
	vertical-align: middle;
}

.tweet_time {
	font-size: 14px;
	font-style: italic;
	display: block;
}

/* --------------------------------------------------------------
Media queries
-------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	header, section, section.quote {
		padding: 20px;
		width: auto;
		margin-bottom: 20px;
	}

	section.quote {
		padding: 60px 20px 10px 60px;
	}

	header {
		margin-top: 20px;
		margin-bottom: 0;
	}

	header .menubutton {
		display: block;
	}

	header nav {
		display: none;
		width: 100%;
		float: left;
		margin-top: 10px;
	}

	header nav ul li {
		margin-left: 0;
		text-align: center;
		width: 100%;
	}

	header nav ul li a, header nav ul li a:visited, header nav ul li.search {
		top: 0;
		display: block;
		width: 100%;
		padding: 10px;
		text-align: center;
		margin-bottom: 5px;
	}

	header .search_popup {
		position: relative;
		top: 0;
		right: 0;
		padding: 15px 15px 25px 15px;
	}

	header .search_popup input, header .search_popup button {
		width: 100%;
	}

	header .search_popup button {
		top: 10px;
	}

	section, .post_image {
		margin-left: 20px;
		margin-right: 20px;
	}

	section {
		padding: 30px 0;
	}

	section .post_date {
		position: relative;
		top: -25px;
		left: 0;
	}

	section.quote p {
		font-size: 20px;
		line-height: 32px;
	}

	section.quote p .author {
		margin-top: 10px;
	}

	footer {
		padding: 0 25px;
		margin-top: 50px;
	}
}

@media only screen and (min-width: 768px) {
	header nav {
		display: block !important;
	}
}
